.ContactDiv{
    /* border: 2px solid red; */
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 380px){
    .ContactDiv h1{
        font-size: .8rem;
    }
}
@media only screen and (min-width: 380px) and (max-width : 500px){
    .ContactDiv h1{
        font-size: 1rem;
    }
}